.single
    .title 东京都知事挪用公款干了啥 称穿上汉服才能写好书法
    .info
        span.date 2016-06-14
        span via
        span
            a.link(href="#") 环球网
    .content
        p 【环球时报驻日本特约记者 李珍】“我现在也想辞职,但想保住东京都的名誉。” 东京都知事舛添要一成为14日的日本新闻主角,几乎所有的电视台都在播放他“泪流满面要求留任到9月”的面部大特写。不信任案将在15日进行审议。
        p 【环球时报驻日本特约记者 李珍】“我现在也想辞职,但想保住东京都的名誉。” 东京都知事舛添要一成为14日的日本新闻主角,几乎所有的电视台都在播放他“泪流满面要求留任到9月”的面部大特写。不信任案将在15日进行审议。

