.single {
    width: 100%;
    max-width: 640px;
    padding-bottom: 42px;
    margin: 0 auto;

    .title {
        color: @SINGLE_TITLE_FC;
        font-size: 22px;
        line-height: 28px;
        padding: 20px 0;
        border-bottom: @SINGLE_BD solid 1px;
    }
    .info {
        margin: 20px 0;
        font-size: 14px;
        color: @SINGLE_INFO_FC;

        span {
            margin-right: 10px;

            &.date
            a {
            }
        }
    }
    .content {
        img {
            max-width: 100%;
        }
    }
}
