.sidebar
    .form
        div
            label 标题
        div
            textarea.field
        div
            label 作者
        div
            input(type="text").field
        div
            label 摘要
        div
            textarea.field
        div
            label 封面1
        div
            textarea.field
    .label.fold &gt;&gt;
    .label.expand
        i.icon.ico-publish
        | 发
        br
        | 布

