@LOGO_FC: #FFF;
@LOGO_WHITE_FC: #FA9B5B;

@FOOTER_BG: #333;
@FOOTER_FC: #FFF;

@QRCODE_BD: #E6E6E6;
@QRCODE_BG: #FFF;

@BTN_FOR: #FA9B5B;
@BTN_BG: #FFFFFF;
@BTN_BD: #FA9B5B;
@BTN_CANCEL_FOR: #999999;
@BTN_CANCEL_BG: #FFFFFF;
@BTN_CANCEL_BD: #999999;
@BTN_LIGHT_ACTIVE_FOR: #999999;
@BTN_LIGHT_ACTIVE_BG: #FFFFFF;
@BTN_LIGHT_FOR: #FFF;
@BTN_LIGHT_BD: #999999;
@BTN_PRIMARY_FOR: #FFFFFF;
@BTN_PRIMARY_BG: #FA9B5B;

@CAT_ITEM_BD: #E6E6E6;
@CAT_ITEM_BG: #FFF;

@CONTENT_FC: #646464;
@CONTENT_ORANGE_FC: #FA9B5B;
@INFO_FC: #999999;

@FIELD_BD: #E6E6E6;
@FIELD_DISABLED_BG: #EFEFEF;
@FIELD_DISABLED_FC: #999;
@FIELDSET_BD: #E6E6E6;

@BAR_FILTER_FC: #666;

@LINK_FC: #6784AA;
@LINK_PRIMARY_FC: #FA9B5B;
@LINK_HINT_FC: #999999;

@MENU_FC: #FFF;
@MENU_BG: #666666;
@MENU_FOR: #404040;

@MODAL_CLOSE_FOR: #FFFFFF;
@MODAL_CLOSE_BG: rgba(0, 0, 0, 0.5);
@MODAL_CLOSE_BG_HOVER: rgba(0, 0, 0, 0.2);

@NAV_BG: #333;
@NAV_ACTIVE_BG: #FA9B5B;

@PAGER_BD: #E0E0E0;
@PAGER_FC: #459AE9;
@PAGER_BG: #FFF;
@PAGER_ACTIVE_FC: #000;
@PAGER_ACTIVE_BG: #EEE;
@PAGER_HOVER_BG: #EFEFEF;

@TABLE_HEADER_BG: #FA9B5B;
@TABLE_HEADER_BD: #FFF;
@TABLE_HEADER_FC: #FFF;
@TABLE_BD: #EEE;
@TABLE_FC: #646464;

@TITLE_FC: #646464;
@TITLE_FOR: #FA9B5B;

@SHADOW: rgba(0, 0, 0, 0.5);
@SHADOW_HOVER: rgba(0, 0, 0, 0.2);

@CLOSE_FC: #FFF;
@CLOSE_BG: rgba(0, 0, 0, 0.2);
@CLOSE_ACTIVE_BG: rgba(0, 0, 0, 0.5);

@BLOCK_ITEM_BG: #FFF;
@BLOCK_ITEM_ACTIVE_BG: #E6E6E6;
@BLOCK_ITEM_FC: #999;
@BLOCK_POST_BD: #E6E6E6;
@BLOCK_POST_FC: #999;
@BLOCK_POST_ACTIVE_BG: #E6E6E6;

@TABS_BG: #FFF;
@TABS_BD: #FA9B5B;

@SINGLE_TITLE_FC: #2B2B2B;
@SINGLE_BD: #E6E6E6;
@SINGLE_INFO_FC: #999;

@SIDE_BAR_D: #333;
@SIDE_BAR_W: #FFF;
@SIDE_BAR_G: #E6E6E6;
