@BTN_FOR: #fe995f;
@BTN_BG: #ffffff;
@BTN_BD: #fe995f;

@BTN_CANCEL_FOR: #999999;
@BTN_CANCEL_BG: #ffffff;
@BTN_CANCEL_BD: #999999;

@BTN_LIGHT_ACTIVE_FOR: #999999;
@BTN_LIGHT_ACTIVE_BG: #ffffff;
@BTN_LIGHT_FOR: #FFF;
@BTN_LIGHT_BD: #999999;

@BTN_PRIMARY_FOR: #ffffff;
@BTN_PRIMARY_BG: #fe995f;


@CAT_ITEM_BD: #e6e6e6;
@CAT_ITEM_BG: #fff;


@CONTENT_FC: #646464;
@INFO_FC: #999999;


@FIELD_BD: #e6e6e6;
@FIELD_DISABLED_BG: #efefef;
@FIELDSET_BD: #e6e6e6;


@BAR_FILTER_FC: #666;


@LINK_FC: #6784aa;
@LINK_PRIMARY_FC: #fe995f;
@LINK_HINT_FC: #999999;


@MENU_FC: #FFF;
@MENU_BG: #666666;
@MENU_FOR: #404040;


@MODAL_CLOSE_FOR: #FFFFFF;
@MODAL_CLOSE_BG: rgba(0, 0, 0, 0.5);
@MODAL_CLOSE_BG_HOVER: rgba(0, 0, 0, 0.2);


@NAV_ACTIVE_BG: #fe995f;


@PAGER_BD: #e0e0e0;
@PAGER_FC: #459ae9;
@PAGER_BG: #fff;
@PAGER_ACTIVE_FC: #000;
@PAGER_ACTIVE_BG: #eee;
@PAGER_HOVER_BG: #eFeFeF;


@TABLE_HEADER_BG: #fe995f;
@TABLE_HEADER_BD: #FFF;
@TABLE_HEADER_FC: #FFF;
@TABLE_BD: #eee;
@TABLE_FC: #646464;


@TITLE_FC: #646464;
@TITLE_FOR: #fe995f;
