p 行内按钮
    br
    button.btn.btn-primary 确定
    button.btn.btn-cancel 确定
    button.btn 确定

    br
    button.btn.btn-primary.btn-box 确定
    button.btn.btn-cancel.btn-box 确定
    button.btn.btn-box 确定
div 整行按钮
    br
    button.btn.btn-block hello
    button.btn.btn-primary.btn-block 确定
    button.btn.btn-cancel.btn-block 确定
