p 行内按钮
    br
    div(style="padding: 10px; float:left;")
        button.btn.btn-primary 确定
    div(style="padding: 10px; float:left;")
        button.btn.btn-cancel 确定
    div(style="padding: 10px; float:left;")
        button.btn 确定

    br(style="clear: both")
    div(style="padding: 10px; float:left;")
        button.btn.btn-primary.btn-box 确定
    div(style="padding: 10px; float:left;")
        button.btn.btn-cancel.btn-box 确定
    div(style="padding: 10px; float:left;")
        button.btn.btn-box 确定
    br(style="clear: both")
div 整行按钮
    br
    div(style="padding: 10px")
        button.btn.btn-block hello
    div(style="padding: 10px")
        button.btn.btn-primary.btn-block 确定
    div(style="padding: 10px")
        button.btn.btn-cancel.btn-block 确定
