.block-item
    .wrapper-cover
        img(src="/images/cover.png")
    .title
        a(href="") 如何用新媒体做营销卖血压?
    .info
        .author.left papi
        .date.right 2016-05-17 17:12
    .func
        a(href="#").icon.ico-edit.left
        a(href="#").icon.ico-del.left
        a(href="#").right 一键同步
