.block-post
    .head
        .post-title 文章标题
    .body 这些是文章的内容，空着很难看的
    .foot.clear
        span.author.left 作者
        span.date.left 2016-11-11
        span.right
            a(href="#").link 查看原文
