table
    thead
        tr
            th(width="100") 序号
            th(width="120") 序号
            th 序号
            th(width="150") 序号
            th(width="160") 序号
    tbody
        tr
            td 序号
            td 序号
            td 序号
            td 序号
            td
                a(modal="editSource").link 编辑
                ||
                a.link 删除
        tr
            td 序号
            td 序号
            td 序号
            td 序号
            td
                a(modal="editSource").link 编辑
                ||
                a.link 删除
        tr
            td 序号
            td 序号
            td 序号
            td 序号
            td
                a(modal="editSource").link 编辑
                ||
                a.link 删除
        tr
            td 序号
            td 序号
            td 序号
            td 序号
            td
                a(modal="editSource").link 编辑
                ||
                a.link 删除
        tr
            td 序号
            td 序号
            td 序号
            td 序号
            td
                a(modal="editSource").link 编辑
                ||
                a.link 删除
