table.sended
	thead
		tr.sended-header
			th.sended-header-th.scol-1 消息
			th.sended-header-th.scol-2 &nbsp;
			th.sended-header-th.scol-3 发送详情
			th.sended-header-th.scol-4 已成功发送帐号
			th.sended-header-th.scol-5 发送状态
	tbody
		tr
			td.scol-1
				.card
					.card-title 这是标题
					img.card-cover(src="https://puui.qpic.cn/tv/0/6586084_220123/0")
				.sended-hint
					.date 2016-12-12 12:23
					.type 长图文
			td.scol-2
				ul.sended-ul
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
			td.scol-3
				.sended-content 素材库
				.sended-hint 微信公众号
			td.scol-4
				.sended-content 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
			td.scol-5
				.sended-success 发送成功
		tr
			td.scol-1
				.card
					.card-title 这是标题
					img.card-cover(src="https://puui.qpic.cn/tv/0/6586084_220123/0")
				.sended-hint
					.date 2016-12-12 12:23
					.type 长图文
			td.scol-2
				ul.sended-ul
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
			td.scol-3
				.sended-content 素材库
				.sended-hint 微信公众号
			td.scol-4
				.sended-content 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
			td.scol-5
				.sended-sending 正在发送
		tr
			td.scol-1
				.card
					.card-title 这是标题
					img.card-cover(src="https://puui.qpic.cn/tv/0/6586084_220123/0")
				.sended-hint
					.date 2016-12-12 12:23
					.type 长图文
			td.scol-2
				ul.sended-ul
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
			td.scol-3
				.sended-content 素材库
				.sended-hint 微信公众号
			td.scol-4
				.sended-content 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
			td.scol-5
				.sended-success 发送成功
		tr
			td.scol-1
				.card
					.card-title 这是标题
					img.card-cover(src="https://puui.qpic.cn/tv/0/6586084_220123/0")
				.sended-hint
					.date 2016-12-12 12:23
					.type 长图文
			td.scol-2
				ul.sended-ul
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
			td.scol-3
				.sended-content 素材库
				.sended-hint 微信公众号
			td.scol-4
				.sended-content 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
			td.scol-5
				.sended-success 发送成功
		tr
			td.scol-1
				.card
					.card-title 这是标题
					img.card-cover(src="https://puui.qpic.cn/tv/0/6586084_220123/0")
				.sended-hint
					.date 2016-12-12 12:23
					.type 长图文
			td.scol-2
				ul.sended-ul
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
					li.sended-li 这也是标题
			td.scol-3
				.sended-content 素材库
				.sended-hint 微信公众号
			td.scol-4
				.sended-content 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
					br
					| 深圳八卦
			td.scol-5
				.sended-success 发送成功
