extends ../../layout.pug
block style
    link(rel="stylesheet", href="../../all.css")

block content
    .h100(style="display: flex; flex-direction: column;")
        include ../nav/index.pug
        div(style="display: flex;flex-direction: row;justify-content: flex-start;flex:1;align-items:stretch;")
            include ../menu/index.pug
            div(style="width: 386px; max-height: 100%;")
                .w100.box(style="padding: 10px 20px; box-sizing: border-box;")
                    .title
                        em 常用样式
                .w100.h100.box
                    include ../blockItem/image.pug
                    include ../blockItem/image.pug
                    include ../blockItem/image.pug
                    include ../blockItem/image.pug
                    include ../blockItem/image.pug
                    include ../blockItem/image.pug
                    include ../blockItem/image.pug
                    include ../blockItem/image.pug
            div(style="display: flex; flex-direction: row; justify-content:flex-end;flex:1")
                .h100(style="flex:1") content
                .box
                    include ../sideBar/index.pug
