extends ../../layout.pug
block style
    link(rel="stylesheet", href="../../all.css")

block content
    include ../nav/index.pug
    .h100.clear(style="box-sizing: border-box; padding-top: 60px; margin-top: -60px;")
        .h100.w100.left(style="overflow: auto")
            .h100.clear(style="margin-left: 200px; min-width: 772px;")
                .w100.h100.right
                    .h100.w100.left(style="overflow: auto")
                        .h100(style="margin-left: 386px; overflow: hidden;")
                            .h100.w100(style="display: table")
                                .h100(style="min-width: 600px;display: table-cell;")
                                      .h100.box(style="width:540px; margin: 0 auto; padding:20px; box-sizing: border-box")
                                            | content
                                .h100.box(style="width: 275px; padding: 10px; box-sizing: border-box;display: table-cell;")
                                    include ../sideBar/index.pug
                    .h100.left(style="margin-left: -100%;  width: 386px;")
                        .w100.box(style="float: left; padding: 10px 20px; box-sizing: border-box;")
                            .title
                                em 常用样式
                        .left.w100.h100.box(style="padding-top: 56px;margin-top: -56px;box-sizing: border-box;")
                            .h100(style="")
                                .h100(style="overflow: auto; padding: 20px 10px; box-sizing:border-box")
                                    | somthing
                                    p(style="height: 1000px")
                                    | hehehe
        .h100.left(style="margin-left: -100%;")
            include ../menu/index.pug
