extends ../../layout.pug
block style
    link(rel="stylesheet", href="../../all.css")

block content
    div.h100(style="overflow:auto")
        .left.w100(style="border-bottom: #e6e6e6 solid 1px;background-color:#fff;")
            .w100(style="max-width:640px;margin: 0 auto;height: 80px; padding-top: 10px; box-sizing: border-box;")
                include ../logo/white.pug
        .minh100(style="padding-bottom: 20px; box-sizing: border-box;")
            div(style="padding-top: 81px;")
                include ../single/index.pug
        div(style="margin-top:-21px")
            include ../footer/index.pug
        div(style="width: 160px; position:fixed; position: fixed; left: 50%; top: 200px; margin-left: 400px")
            include ../qrcode/index.pug
