.welcome.clear
    .intro.clear
        .intro-item.intro-item-1
            .title
                h3 创新
                p Create
            p
                | 我们通过研究理解用户的思维、行为、和目标，挖掘用户对产品使用的潜在需求，通过我们服务于各行业客户的丰富经验，结合品牌的优势进行分析，让用户在情绪上、行为上感知产品的创新、感受完美的体验。超越品牌的价值。
        .intro-item.intro-item-2
            .title
                h3 激情
                p Inspiration
            p
                | 我们是一只富有激情的创新团队。我们将设计通过情感的表达把用户和产品很自然的连接在一起，让用户享受使用产品的愉悦，以此来强化对产品、品牌的体验认知！通过自然的交互和生动的设计展现出来，用一个充满情感化的设计打动用户！
        .intro-item.intro-item-3
            .title
                h3 未来
                p Future
            p
                | 为客户提供品牌化、一站式的解决方案。服务涵盖了互联网，掌上移动设备、桌面平台以及电子消费类产品等。为客户提供从品牌设计、概念设计、交互设计、视觉设计、功能研发到最终产品实现。为客户提供真正具有创新价值的产品体验。
    .func
        .title.clear
            h4
                | 功能介绍
                span.triangle-down
        table(border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td.func-1(rowspan='2')
                        a(href='#')
                    td
                        .wrap
                            .title Massive News
                            span 海量咨询
                            p 细节使得这个世界从平凡变得不平凡
                    td.func-2
                        a(href='#')
                    td.func-3(rowspan='2')
                        a(href='#')
                tr
                    td.func-4
                        a(href='#')
                    td
                        .wrap
                            .title Massive News
                            span 海量咨询
                            p 细节使得这个世界从平凡变得不平凡
                tr
                    td(colspan='2')
                        .try
                            .title TRY IT OUT!
                            a.btn-try(href='/edit.html') 立即试用
                    td.func-5
                        a(href='#')
                    td
                        .wrap
                            .title Massive News
                            span 海量咨询
                            p 细节使得这个世界从平凡变得不平凡
    .user-list
        .title.clear
            h4
                | 产品优势
                span.triangle-down
        .wrap
            .item
                img(src='http://www.8zcloud.com/images/index/func5.png', alt='')
                div
                    h4 城会玩
                    p 城会玩，大都市里鲜活的生活方式！城会玩以杂志般的阅读体验，畅快的美图和内容，为你提供同城最高颜值的生活旅游攻略！为您客观推荐同城最具特色的周末去哪儿吃喝玩乐
            .item
                img(src='http://www.8zcloud.com/images/index/func5.png', alt='')
                div
                    h4 城会玩
                    p 城会玩，大都市里鲜活的生活方式！城会玩以杂志般的阅读体验，畅快的美图和内容，为你提供同城最高颜值的生活旅游攻略！为您客观推荐同城最具特色的周末去哪儿吃喝玩乐
            .item
                img(src='http://www.8zcloud.com/images/index/func5.png', alt='')
                div
                    h4 城会玩
                    p 城会玩，大都市里鲜活的生活方式！城会玩以杂志般的阅读体验，畅快的美图和内容，为你提供同城最高颜值的生活旅游攻略！为您客观推荐同城最具特色的周末去哪儿吃喝玩乐
