.welcome.clear
    .bg.bg1
    .bg.bg2
    .bg.bg3
    .bg.bg4
    .hr
    .user-list
        .title.clear
            h4
                | TA们都在用
                span.triangle-down
        .wrap
            .item
                img(src='/images/logo_cityfun.png', alt='')
                div
                    h4 城会玩
                    p 一个90后年轻人的活动平台，在APP站点接入内容版块后，城会玩每日精选抓人眼球的趣玩和大咖故事。通过内容，把原来单一的活动报名和票务平台，打造出了属于自己的90后玩乐文化，产生了非常好的用户评论和互动效应。
            .item
                img(src='/images/logo_parcha.png', alt='')
                div
                    h4 Parcha
                    p 精品资讯怎样量产？——为打造都市中产阶级生活品味文化，一城日报选择了[72助手]作为内容筛选和编辑平台。以最节约的运营成本，同时开通了北上广深、武汉、成都、杭州等11个城市，真正地把一城日报打造成全国范围的同城资讯，生活指南。
            .item
                img(src='/images/logo_daily.png', alt='')
                div
                    h4 一城日报APP
                    p 精品资讯怎样量产？——为打造都市中产阶级生活品味文化，一城日报选择了[72助手]作为内容筛选和编辑平台。以最节约的运营成本，同时开通了北上广深、武汉、成都、杭州等11个城市，真正地把一城日报打造成全国范围的同城资讯，生活指南。

