div.wrap404
    div.inner
        div
            img(src="/images/404.png")
        ul.ul-404
            li.li-404 你所查看的页面无法浏览或已经不存在
            li.li-404 输入的地址不正确
            li.li-404 页面重定义或程序出错
        p.p-404 请点击该处&nbsp;
            a.a-404(href="/") 72助手-跨平台运营神器
            | &nbsp;返回首页
