ul.list
    li.list-item
        include ../catItem/index.pug
    li.list-item
        include ../catItem/index.pug
    li.list-item
        include ../catItem/index.pug
    li.list-item
        include ../catItem/index.pug
    li.list-item
        include ../catItem/index.pug
    li.list-item
        include ../catItem/index.pug
    li.list-item
        include ../catItem/index.pug
