ul.list
    li.list-item
        input(type="radio")
        | 我们是一只富有激情的创新团队。
    li.list-item
        input(type="radio")
        | 我们是一只富有激情的创新团队。
    li.list-item
        input(type="radio")
        | 我们是一只富有激情的创新团队。
    li.list-item
        input(type="radio")
        | 我们是一只富有激情的创新团队。
