div
    include ../blockItem/post.pug
    include ../blockItem/post.pug
    include ../blockItem/post.pug
    include ../blockItem/post.pug
    include ../blockItem/post.pug
    include ../blockItem/post.pug
    include ../blockItem/post.pug
