.usercenter
    .line
        label.us-l__field 用户名：
        span domon
    .line
        label.us-l__field 注册邮箱：
        span 23131231@qq.com
    .line
        label.us-l__field 授权平台：
        span 头条号
            em.us-l__num 1个
        br
        label.us-l__field &nbsp;
        span 公众号
            em.us-l__num 3个
    .line
        label.us-l__field 密码：
        a.btn 修改
.usercenter-mod-pass
    .title 修改密码
    .ump-line
        label.ump-line__label 原密码：
        input(placeholder="请输入").ump-line__field
        span.ump-line__error 原密码不正确
    .ump-line
        label.ump-line__label 新密码：
        input(placeholder="请输入").ump-line__field
        span.ump-line__error 原密码不正确
    .ump-line
        label.ump-line__label 确认密码：
        input(placeholder="请输入").ump-line__field
        span.ump-line__error 原密码不正确
    .ump-line
        a.btn.btn-block.btn-primary.ump-line__confirm 确认修改
