.clear.bar
    div.bar-filter
        label 时间
            input(type="radio")
        label
            i.icon.ico-date
            input(type="text" value="2016-11-11")
        label
            input(type="radio")
            | 3天内
        label
            input(type="radio")
            | 7天内
        span.split |
        |排序

        label
            input(type="radio")
            | 阅读数

        label
            input(type="radio")
            | 点赞数
        label
            input(type="radio")
            | 时间
    div.search-bar
        input(type="search" placeholder="请输入搜索内容")
        .icon.ico-search-o
