.bar-filter {
    color: @BAR_FILTER_FC;
    line-height: 60px;
    padding-left: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
    input{
        height: 12px;
        &[type="text"]{
            width: 90px;
            border: none;
        }
        &[type="radio"]{
            margin: 0 12px;
        }
    }
    .icon {
        top: 11px;
        position: relative;
    }
    .split{
        margin: 0 20px;
    }
}
