.foot-wrapper{
    background: @FOOTER_BG;
    text-align: center;
    width: 100%;
    display: table;

    .content{
        display: table-cell;
        vertical-align: middle;
        color: @FOOTER_FC;
    }
}
