.logoall{
    display: table;
    width: 170px;
    height: 60px;
    margin-left: 20px;
    img{
        max-width: 100%;
        margin-top: 5px;
    }
}
.logo {
    display: table;
    width: 170px;
    height: 60px;
    margin-left: 10px;
    background-image: url(/images/logo.png);
    background-size: 37px auto;
    background-repeat: no-repeat;
    background-position: left center;

    .ir {
        width: 44px;
        height: 60px;
        float: left;
    }
    .text {
        display: table-cell;
        vertical-align: bottom;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;
        padding-bottom: 7px;
        color: #FFF;
        box-sizing: border-box;

        span {
            letter-spacing: 2px;
        }
    }
    &.white .text {
        color: #FA9B5B;
    }
    &.large {
        width: 290px;
        height: 70px;
        background-image: url(/images/logo_large.png);
        background-size: auto;

        .ir {
            height: 70px;
            width: 70px;
        }
        .text {
            font-size: 24px;
            color: #FA9B5B;
            padding: 0;

            span {
                letter-spacing: 4px;
            }
        }
    }
}
