.postItem
    .title
        a(href="#") header
    .content content
    .info.clear
        div.col-3 环球网｜2016-06-17 19:18:31
            i.icon
        div.col-3
            a.point(href="#")
                span 阅读数：0
                i.icon.ico-raise
        div.col-3
            a.point(href="#")
                i.icon.ico-add
                | 导入文章
        div.col-3
            a.point(href="#")
                i.icon
                span 删除
