.postItem {
    border: #e6e6e6 solid 1px;
    padding: 20px;
    position: relative;
    .title {
        font-size: 20px;
    }
    .info{
        .icon{
            position: relative;
            top: 10px;
        }
        .point{
            cursor: pointer;
        }
    }
    .control{
        position: absolute;
        right: 25px;
        top: 50%;
        margin-top: -12px;
        .btn{
            border-radius: 16px;
            padding: 8px 15px;
            display: block;
            width: 88px;
        }
        .add{
            &:before{
                content: '+';
                font-size: 20px;
                display: block;
                float: left;
                height: 20px;
                line-height: 20px;
                margin-top: -1px;
            }
        }
        .cancel{
            background: #dd6254;
            color: #fff;
        }
    }
    .content{
        padding-right: 130px;
    }
}
