.mask(style="display:none", modal-editSource)
    .mask-panel
        .mask-title
            h4 编辑来源
            a.close &times;
        .mask-body
            div.form
                div.inline
                    label.col-3 来源的名称
                    div.col-9
                        input.field(type="text", disabled="true", value="乐活生活家")
                div.inline
                    label.col-3 监控关键字
                    div.col-9
                        textarea.field
                div.inline
                    label.col-3 剔除关键字
                    div.col-9
                        textarea.field

        .mask-footer
            button.btn.btn-primary 保存

.mask(style="display:none", modal-newCategory, modal-editCategory)
    .mask-panel
        .mask-title
            h4 新建分类
            a.close &times;
        .mask-body
            div.form
                div.inline
                    input.field(type="text", placeholder="请输入分类名称")
                div.inline
                    input.field(type="text", placeholder="请输入分类描述")

        .mask-footer
            button.btn.btn-primary 下一步

.mask(style="display:none", modal-newSource)
    .mask-panel
        .mask-title
            h4 新建来源
            a.close &times;
        .mask-body
            div.form
                div.inline
                    label
                        input(type="radio")
                        | 来自网站
                    label
                        input(type="radio")
                        | 来自APP
                div.inline
                    div.pos-r
                        input.field(type="text", placeholder="请输入关键词")
                        button.pos-a.btn.btn-primary.btn-box(style="right: 0; top: 0; height: 100%;") 搜索
            .title 搜索结果
            fieldset(style="height: 275px; overflow: auto;")
                div(style="width: 60px;margin: 0 auto;")
                    include ../loading/index.pug
                ul.list
                    li.pointer.list-item
                        label
                            input(type="radio")
                            | 我们是一只富有激情的创新团队。
                    li.pointer.list-item
                        label
                            input(type="radio")
                            | 我们是一只富有激情的创新团队。
        .mask-footer
            button.btn.btn-primary 下一步
.mask(style="display:none; text-align: center;", modal-info)
    div(style="display:inline-block")
        .mask-panel
            .mask-title
                h4 信息提示
                a.close &times;
            .mask-body
                .content 这里是提示信息~~~~这里是提示信息~~~~这里是提示信息~~~~这里是提示信息~~~~这里是提示信息~~~~这里是提示信息~~~~这里是提示信息~~~~这里是提示信息~~~~这里是提示信息~~~~
            .mask-footer
                button.btn.btn-primary 确认
                button.btn.btn-cancel 取消

button(modal="info").btn.btn-primary 普通提示
button(modal="editSource").btn.btn-primary 编辑来源
button(modal="newCategory").btn.btn-primary 新建分类
button(modal="newSource").btn.btn-primary 新建来源

script(type="text/javascript").
    //- editSource
    //- newCategory
    //- newSource
    window.onload = function(){
        var modals = [].slice.call(document.querySelectorAll('[modal]'))
        modals.map(function(btn){
            btn.addEventListener('click', function(e){
                var name = this.getAttribute('modal')
                document.querySelector('[modal-'+name+']').style.display='block'
                e.stopPropagation()
                return false;
            })
        })

        var closes = [].slice.call(document.querySelectorAll('.mask .close'))
        closes.map(function(close){
            close.addEventListener('click', function(){
                var elem = this
                while(elem.className !== 'mask'){
                    elem = elem.parentElement
                }
                elem.style.display='none'
            })
        })
    }
