.pager {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
    &>a {
        display: block;
        cursor: pointer;
        float: left;
        padding: 0 10px;
        line-height: 30px;
        border: #E0E0E0 solid 1px;
        background-color: #FFF;
        color: #459AE9;

        &.cur {
            color: #000;
            background-color: #EEE;
            cursor: default;
        }
        &:hover {
            background-color: #333;
        }
        &:first-child {
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
        }
    }
}
