.content{
    color: @CONTENT_FC;
    font-size: 14px;
    line-height: 1.5;
    &.text-inline{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.info{
    color: @INFO_FC;
}
em{
    font-style: normal;
    color: @CONTENT_ORANGE_FC;
}
span.sep{
    padding: 0 5px;
}
