.cat-item
    .title
        i.icon.ico-dot.left
        a(href="#") 乐活
    div(style="line-height: 35px").content.text-inline
        | 乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐活乐
    .clear
        .info.left
            | jkadjfklajdlsfjkaslkfj
        .right
            a(href="javascript:;", modal="editCategory").link 编辑
            ||
            a(href="javascript:;").link 删除
            ||
            a(href="javascript:;", modal="newSource").link 新增来源
