.cat-item-s
    img(src="/images/100x100.png")
    .content
        .title 创意
        .info 微信ID：12312312
    .tr-menu.pointer
    ul
        li
            a(href="#", style="height: 35px;")
                .left.icon.ico-img1
                | 素材模板
        li
            a(href="#", style="height: 35px;")
                .left.icon.ico-alert
                | 群发提醒
        li
            a(href="#", style="height: 35px;")
                .left.icon.ico-group
                | 群发日志
        li
            a(href="#", style="height: 35px;")
                .left.icon.ico-refresh
                | 刷新资料
        li
            a(href="#", style="height: 35px;")
                .left.icon.ico-unlink
                | 解除绑定
        li
            a(href="#", style="height: 35px;")
                .left.icon.ico-auth
                | 重新授权
