nav.nav
    .logo
    ul.list-group
        li.list-group-item.active
            .icon.ico-editor
            .desc
                i
                span 编辑器
        li.list-group-item
            .icon.ico-doc
            .desc
                i
                span 内容库
        li.list-group-item
            .icon.ico-manage
            .desc
                i
                span 管理中心
