nav.nav-index
    ul.list-group.clear
        li.list-group-item
            .rwrap
                a.list-group-link(href="/") 首页
        li.list-group-item
            .rwrap
                a.list-group-link(href="/edit.html") 编辑器
        li.list-group-item
            .rwrap
                a.list-group-link(href="/content/index") 内容库
        li.list-group-item
            .rwrap
                a.list-group-link(href="/content/index") 关于我们
