.nav-index
    ul.list-group.clear
        li.list-group-item
            .rwrap
                a.list-group-link(href="/") 注册
        li.list-group-item
            .rwrap
                a.list-group-link(href="/edit.html") 登录
    .userinfo
        i.icon.ico-user
        |用户名
