i.icon.ico-search

i.icon.ico-preview.bg-dark
i.icon.ico-delete.bg-dark
i.icon.ico-publish.bg-dark

i.icon.ico-file
i.icon.ico-pen
i.icon.ico-import
i.icon.ico-category
i.icon.ico-prepub
i.icon.ico-favorite
i.icon.ico-content

i.icon.ico-img
i.icon.ico-arrow

i.icon.ico-manage.bg-dark
i.icon.ico-editor.bg-dark
i.icon.ico-doc.bg-dark
i.icon.ico-data.bg-dark
i.icon.ico-style.bg-dark
i.icon.ico-user.bg-dark
i.icon.ico-home.bg-dark

i.icon.ico-email
i.icon.ico-username
i.icon.ico-password
i.icon.ico-repass
i.icon.ico-vcode

i.icon.ico-dot
i.icon.ico-date
i.icon.ico-raise
i.icon.ico-add
i.icon.ico-edit
i.icon.ico-del

i.icon.ico-img1
i.icon.ico-alert
i.icon.ico-group
i.icon.ico-refresh
i.icon.ico-unlink
i.icon.ico-auth
