.cat-menu.clear
    .group.clear
        a.btn.btn-light.btn-block.active 全部
        a.btn.btn-light.btn-block 自定义
    .clear
        a.btn.btn-light.active 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light 分类
        a.btn.btn-light.btn-block 自定义
        a.btn.btn-light.btn-block 自定义
        a.btn.btn-light.btn-block 自定义
        a.btn.btn-light.btn-block 自定义
        a.btn.btn-light.btn-block 自定义
        a.btn.btn-light.btn-block 自定义
        a.btn.btn-light.btn-block 自定义
    .footer
        a.btn.btn-block.edit 编辑频道
