ul.menu
    li.menu-item
        a.menu-link.active
            i.icon.ico-import
            | 导入
    li.menu-item
        a.menu-link
            i.icon.ico-pen
            | 常用
        ul.sub-menu
            li.sub-menu-item
                a.sub-menu-link.active(href="#") 标题
            li.sub-menu-item
                a.sub-menu-link(href="#") 标题
            li.sub-menu-item
                a.sub-menu-link(href="#") 标题
            li.sub-menu-item
                a.sub-menu-link(href="#") 标题
            li.sub-menu-item
                a.sub-menu-link(href="#") 标题
    li.menu-item
        a.menu-link
            i.icon.ico-img
            | 我的图库
    li.menu-item
        a.menu-link
            i.icon.ico-file
            | 我的内容
    li.menu-item
        a.menu-link
            i.icon.ico-category
            | 管理分类
    li.menu-item
        a.menu-link
            i.icon.ico-favorite
            | 我的收藏
    li.menu-item
        a.menu-link
            i.icon.ico-prepub
            | 待发布
    li.menu-item
        a.menu-link
            i.icon.ico-content
            | 我的内容
        ul.sub-menu
            li.sub-menu-item
                a.sub-menu-link(href="#") 咨询
            li.sub-menu-item
                a.sub-menu-link(href="#") 咨询
            li.sub-menu-item
                a.sub-menu-link(href="#") 咨询
            li.sub-menu-item
                a.sub-menu-link(href="#") 咨询
            li.sub-menu-item
                a.sub-menu-link(href="#") 咨询
